
    
.navbar a:hover  {
    display: block;
}
.navbar .dropdown-menu-right { 
	    right: 0; 
	    left: auto; 
}

.menu-collapsed
{
	font-size: 18px;
}

.alert{   
     width: 500px;
}    
         
   
body {
    font-family: 'Lato', sans-serif;
    background: #fff;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
   /*  color: #999; */
}


a,a:hover,a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
	
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,span {
    display: inline-block;
}

.my-custom-scrollbar {
position: relative;
height: 200px;
overflow: auto;
}

       
     
body{    
	background-repeat: no-repeat;
	height: 100%;
	background-size: cover;
}

.navbar-default .dropdown-menu.notify-drop {
	  min-width: 330px;
	  background-color: #fff;
	  min-height: 360px;
	  max-height: 360px;
}

.navbar-default .dropdown-menu.notify-drop .notify-drop-title {
	  border-bottom: 1px solid #e2e2e2;
	  padding: 5px 15px 10px 15px;
}

.navbar-default .dropdown-menu.notify-drop .drop-content {
	  min-height: 280px;
	  max-height: 280px;
	  overflow-y: scroll;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track{
  background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar{
  width: 8px;
  background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb{
  background-color: #ccc;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0px 5px 0px;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
  background-color: #fafafa;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li:after {
  content: "";
  clear: both;
  display: block;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li:hover {
  background-color: #fcfcfc;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li:last-child {
  border-bottom: none;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li .notify-img {
  
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0px 0px 8px 0px;
}

.navbar-default .dropdown-menu.notify-drop .allRead {
  margin-right: 7px;
}

.navbar-default .dropdown-menu.notify-drop .rIcon {
  float: right;
  color: #999;
}

.navbar-default .dropdown-menu.notify-drop .rIcon:hover {
  color: #333;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li a {
  font-size: 12px;
  font-weight: normal;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  font-weight: bold;
  font-size: 11px;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li hr {
  margin: 5px 0;
  width: 70%;
  border-color: #e2e2e2;
}

.navbar-default .dropdown-menu.notify-drop .drop-content .pd-l0 {
  padding-left: 0;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li p {
  font-size: 11px;
  color: #666;
  font-weight: normal;
  margin: 3px 0;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time {
  font-size: 10px;
  font-weight: 600;
  top: -6px;
  margin: 8px 0px 0px 0px;
  padding: 0px 3px;
  border: 1px solid #e2e2e2;
  position: relative;
  background-image: linear-gradient(#fff,#f2f2f2);
  display: inline-block;
  border-radius: 2px;
  color: #B97745;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time:hover {
  background-image: linear-gradient(#fff,#fff);
}

.navbar-default .dropdown-menu.notify-drop .notify-drop-footer {
  border-top: 1px solid #e2e2e2;
  bottom: 0;
  position: relative;
  padding: 8px 15px;
}

.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a {
  color: #777;
  text-decoration: none;
}

.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a:hover {
  color: #333;
}

li{
	list-style-type:none;
}

/*width to 100vw will set to 100% of the viewport width*/

.search-dropdown {
    width: 100vw !important;
    min-width: 100% !important;
    padding: 10px;
    margin: 8px auto 0;
    background: #F0F8FF;
    font-size: 1rem;
    color: #212529;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
    float: none;
    position: fixed;
    margin-top:-10px;
/*     top: 30; */
    left: 50%;
    transform: translateX(-50%);
}



 .report-dropdown{
    
    width: 99vw !important;
    min-width: 98.7% !important;
    padding: 25px;
    margin: 8px auto 0;
    background: #F0F8FF;
    font-size: 1rem;
    color: #212529;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
     float: none;
    position: fixed;
    margin-top:-10px;
/*     top: 30; */
    left: 50%;
    transform: translateX(-50%);
} 

.report-header {
  color: #ff0000;
  display: block;
  font-size: 16px;
  line-height: 30px;
  white-space: nowrap;
  font-weight: bold;
}


.report-detail{
	color: black;
}


.btn-light{
	border-color: #e3dede;
}

body{
	background-color: #f7f7f7 !important; 
}

.shadow-nohover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

.sidebartoggleex{

   animation: shadow-pulse 1s infinite;
}


.vertical-divider {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  width: auto;
  height: 50%;
  line-height: 0;
  text-align:center;
  text-transform: uppercase;
  transform: translateX(-50%);
}

.vertical-divider:before, .vertical-divider:after {
  position: absolute;
  left: 50%;
  content: '';
  z-index: 9;
  border-left: 1px solid rgba(34,36,38,.15);
  border-right: 1px solid rgba(255,255,255,.1);
  width: 0;
  height: calc(100% - 1rem);
}


#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 93vh;   
    /* background:linear-gradient(to bottom, #363795, #005C97); */
    background-color: #0e6fb6;
    padding: 0;
}




.navbar{
	 background-color: #0e6fb6; 
	/* background : linear-gradient(to right, #363795, #005C97); */
}



/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 200px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 47px;
    color: white;
    background-color: transparent !important;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #9C0F48;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}






.db-button {
 padding: 0.3rem 2rem;
 font-size: 18px;
 border-radius: 5px;
 background: #0e6fb6;
 min-width: 33.3%;
 color: white;
 box-shadow:6px 6px 0px lightblue;
 border:none;
 cursor: pointer;
}

.db-button:hover {	
	color: white;
	background: #005C97;	
}

.db-button:active {	
	color: #005C97;
	background-color : transparent;
	border : 0.1rem solid #005C97;
	
}



.headerlogo{
	width: 5%;
   /*  box-shadow: 2px 2px 8px rgb(0 0 0 / 70%);
    border-radius: 50%; */
}

.fa-home{
	margin: 0px 3px;
}

.modal-readonly{
	font-weight:550;
	outline:none;
	border-color:#CDCDCD;
	background-color: #CDCDCD;
		 display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-clip: padding-box;
    border: none;

}



    
.navbar a:hover  {
    display: block;
}
.navbar .dropdown-menu-right { 
	    right: 0; 
	    left: auto; 
}

.menu-collapsed
{
	font-size: 18px;
}

.alert{   
     width: 500px;
}    
         
   
body {
    font-family: 'Lato', sans-serif;
    background: #fff;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
   /*  color: #999; */
}


a,a:hover,a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
	
.modal-header{
background-color: #245997 !important;
color:white;
}

.fa-xmark
{
	color:white;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,span {
    display: inline-block;
}

.my-custom-scrollbar {
position: relative;
height: 200px;
overflow: auto;
}

       
     
body{    
	background-repeat: no-repeat;
	height: 100%;
	background-size: cover;
}

.navbar-default .dropdown-menu.notify-drop {
	  min-width: 330px;
	  background-color: #fff;
	  min-height: 360px;
	  max-height: 360px;
}

.navbar-default .dropdown-menu.notify-drop .notify-drop-title {
	  border-bottom: 1px solid #e2e2e2;
	  padding: 5px 15px 10px 15px;
}

.navbar-default .dropdown-menu.notify-drop .drop-content {
	  min-height: 280px;
	  max-height: 280px;
	  overflow-y: scroll;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track{
  background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar{
  width: 8px;
  background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb{
  background-color: #ccc;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0px 5px 0px;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
  background-color: #fafafa;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li:after {
  content: "";
  clear: both;
  display: block;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li:hover {
  background-color: #fcfcfc;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li:last-child {
  border-bottom: none;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li .notify-img {
  
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0px 0px 8px 0px;
}

.navbar-default .dropdown-menu.notify-drop .allRead {
  margin-right: 7px;
}

.navbar-default .dropdown-menu.notify-drop .rIcon {
  float: right;
  color: #999;
}

.navbar-default .dropdown-menu.notify-drop .rIcon:hover {
  color: #333;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li a {
  font-size: 12px;
  font-weight: normal;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  font-weight: bold;
  font-size: 11px;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li hr {
  margin: 5px 0;
  width: 70%;
  border-color: #e2e2e2;
}

.navbar-default .dropdown-menu.notify-drop .drop-content .pd-l0 {
  padding-left: 0;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li p {
  font-size: 11px;
  color: #666;
  font-weight: normal;
  margin: 3px 0;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time {
  font-size: 10px;
  font-weight: 600;
  top: -6px;
  margin: 8px 0px 0px 0px;
  padding: 0px 3px;
  border: 1px solid #e2e2e2;
  position: relative;
  background-image: linear-gradient(#fff,#f2f2f2);
  display: inline-block;
  border-radius: 2px;
  color: #B97745;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time:hover {
  background-image: linear-gradient(#fff,#fff);
}

.navbar-default .dropdown-menu.notify-drop .notify-drop-footer {
  border-top: 1px solid #e2e2e2;
  bottom: 0;
  position: relative;
  padding: 8px 15px;
}

.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a {
  color: #777;
  text-decoration: none;
}

.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a:hover {
  color: #333;
}

li{
	list-style-type:none;
}



.report-detail{
	color: black;
}


.btn-light{
	border-color: #e3dede;
}

body{
	background-color: #f7f7f7 !important; 
}

.shadow-nohover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

.sidebartoggleex{

   animation: shadow-pulse 1s infinite;
}


.vertical-divider {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  width: auto;
  height: 50%;
  line-height: 0;
  text-align:center;
  text-transform: uppercase;
  transform: translateX(-50%);
}

.vertical-divider:before, .vertical-divider:after {
  position: absolute;
  left: 50%;
  content: '';
  z-index: 9;
  border-left: 1px solid rgba(34,36,38,.15);
  border-right: 1px solid rgba(255,255,255,.1);
  width: 0;
  height: calc(100% - 1rem);
}


#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 93vh;   
    /* background:linear-gradient(to bottom, #363795, #005C97); */
    background-color: #1a37b4;
    padding: 0;
}




.navbar{
	/*background-color: #00008B; */ 
	/* background-color: #0050ad;*/
	/* background-color: #010161; */
	 background-color: #034189; 
}



/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 200px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 47px;
    color: white;
    background-color: transparent !important;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #9C0F48;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}






.db-button {
 padding: 0.3rem 2rem;
 font-size: 18px;
 border-radius: 5px;
 background: #0e6fb6;
 min-width: 33.3%;
 color: white;
 box-shadow:6px 6px 0px lightblue;
 border:none;
 cursor: pointer;
}

.db-button:hover {	
	color: white;
	background: #005C97;	
}

.db-button:active {	
	color: #005C97;
	background-color : transparent;
	border : 0.1rem solid #005C97;
	
}



.headerlogo{
	width: 5%;
   /*  box-shadow: 2px 2px 8px rgb(0 0 0 / 70%);
    border-radius: 50%; */
}

.fa-home{
	margin: 0px 3px;
}

.modal-readonly{
	font-weight:550;
	outline:none;
	border-color:#E8E8E8;
	background-color: #E8E8E8;
	display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-clip: padding-box;
    border: none;
     border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}


   
.model-input{
	display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.flex-container
	{
		display: flex;
		flex-wrap: wrap;
		gap:8px;
		justify-content: center;
		background-color: #fff8ed;
		border-radius: 3px !important;
        align-items: stretch;
        height:auto;
        padding:5px;
        margin:auto;
        width: 99%;
	}
	
	.card-header {
  padding: .3rem 1.1rem !important;
}

.breadcrumb
{
	margin-top:8px;
}

